:root {
  --green: #acd8ad;
  --dark-grey: #3f4043
}

@media (min-width:320px) {
    html {
        font-size: 22px;
    }

    .navigation-panel {
        height:16vh;
    }

    .header-nav-item {
        width: 43vw;
        font-size: 0.56rem;
    }

    .menu-icon {
        width: 17vh;
    }


    .section-main-pic {
        margin-top:16vh;
        min-height: 80vh;
        padding: 10vh;
        background: url(../img/Main-background-L.jpg) no-repeat center;
        background-size: cover;
    }

    .main-title {
        font-size: 1.5rem;
        margin-bottom:2vh;
    }

    .main-title:last-child {
        margin-top:5vh;
    }

    .nav-block {
        min-height: 30vh;
    }

    .menu-group-header-icon>img {
        transform: scale(1.5) translate(-37%, -37%)
    }

    .page-footer {
        min-height: 4rem;
        padding: 1rem 3vw;
    }

}

@media (min-width:640px) {
    html {
        font-size: 20px;
    }

    .navigation-panel {
        max-height: 74px;
    }

    .menu-icon {
        display:none;
    }

    .header-navigation-list {
        height: 100%;
        display: flex;
        position: absolute;
        top: 0;
        left: 0;
        justify-content: flex-start;
        background-color:#373c3f;
    }

    .header-nav-item {
        min-height: 100%;
        padding: 6vh 2.5vw;
        width: auto;
        font-size: 0.56rem;
        background-color:transparent;
        text-transform: uppercase;
        color: #ebebeb;
        box-shadow: none;
        cursor: pointer;
    }

    .header-nav-item:hover {
        color: var(--green)
    }

    .navigation-panel:after {
        content:"";
        display:block;
        width:17.5vh;
        height:14vh;
        background: url(../img/navigation-logo.png);
        background-size: 100%;
        position:absolute;
        right: 2%;
        top: 1vh;
    }

    .section-main-pic {
        min-height: 90vh;
        margin: 15vh auto 0;
    }

    .section-nav-blocks {
        flex-wrap: nowrap;
    }

    .nav-block {
        max-width: 33.33vw;
        height: 33.33vw;
        padding: 0;
        border-bottom: 2px solid white;
        position:relative;
        display:flex;
        align-items:center;
        text-align: center;
        color: white;
        font-size: 1.6rem;
        font-weight: bold;

    }

    .nav-block:hover .arrow-block {
        display:none;
    }

    .Pizza-Delivery-block{
        background: url(../img/Pizza_delivery-bg-L.jpg) no-repeat;
        background-size:cover;
    }

    .UA-UX-Salads-block {
        background: url(../img/UA_UX-Salads-bg-L.jpg) no-repeat;
        background-size:cover;
    }

    .Desserts-block {
        background: url(../img/Desserts-bg-L.jpg) no-repeat;
        background-size:cover;
    }

    .menu-header-bar {
        margin: 5vh 0 5vh;
    }

    .menu-logo {
        display: block;
    }

    .menu-column {
        width: 50%;
    }

    .page-footer {
        min-height: 97px;
        padding-top: 40px;
        padding-right: 3vw;
        position:relative;
        display: flex;
        flex-flow: wrap;
        justify-content: flex-end;
        padding-left: 22vh;
    }

    .page-footer:before {
        content:"";
        display:block;
        width:17.5vh;
        height:14vh;
        background: url(../img/navigation-logo.png);
        background-size: 100%;
        position:absolute;
        left: 2%;
        bottom: 1rem;
    }

@media (min-width:980px) {

    .container {
    max-width: 1125px;
    margin: 0 auto;
    }

    .navigation-panel {
        min-height: 97px;
    }


    .navigation-panel:after {
        width:104px;
        height:83px;
        right: 30px;
        top: 8px;
    }

    .header-nav-item {
        padding: 3% 2.5vw;
        font-size: 0.8rem;
    }


    .section-main-pic {
        max-width: 1125px;
        min-height: 90vh;
        margin:97px auto 0;
        background: url(../img/Main-background-L.jpg) no-repeat center;
        background-size: cover;
    }

    .main-title {
         font-size: 2.5rem;
         color: white;
         font-weight: bold;
    }

    .nav-block {
        width: 32.9vw;
        max-width: 375px;
        height: 33vw;
        max-height: 375px;

    }

    .page-footer {
        min-height: 97px;
        padding: 40px 3vw 15px 120px;
    }

    .page-footer:before {
        width:104px;
        height:83px;
        left: 30px;
        top: 8px
    }

}

