html {
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    color: var(--dark-grey)
}

:root {
  --green: #acd8ad;
  --dark-grey: #3f4043
}

.page-container {
    width: 100%;
    position: relative;
}

.container {
    display: flex;
    width: 100%;
    flex-flow:wrap;
    align-items: flex-start;
}

h2 {
    font-size: 1.25rem;
    text-transform: uppercase;
}

h3 {
    font-size: 1.15rem;
    text-transform: uppercase;
}

.navigation-panel {
    width: 100%;
    min-height: 8vh;
    padding-left:7%;
    position: fixed;
    top:0;
    background-color: #373c3f;
    display:flex;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.85rem;
    color:white;
    z-index: 999;
}

.menu-icon {
   height: 100%;
   width: 10vw;
   position:absolute;
   right:0;
   top:0;
   background-color: #202529;
   color: white;
   display:flex;
   justify-content: center;
   align-items: center;
}

.header-navigation-list {
    display:none;
    position: absolute;
    top: 100%;
    right: 0;
}

.header-nav-item {
    width: 57vw;
    min-height: 7vh;
    padding: 1.5vh 5vw;
    background-color:#fafafa;
    font-size: 0.86rem;
    color: #444444;
    box-shadow: 1px 1px 6px -2px;
}

.section-main-pic {
    width: 100%;
    min-height: 40vh;
    margin-top: 8vh;
    border-bottom: 4px solid white;
    background: url(../img/Main-background.jpg) no-repeat center;
    background-size:cover;
    padding:7vh;
}

.main-title {
    margin-bottom:3vh;
    font-size: 1.14rem;
    color: white;
    font-weight: bold;
}

.main-title-link {
    color: #a6d6e0;
}

.nav-block {
    width: 100vw;
    height: 15vh;
    border-bottom: 2px solid white;
    position:relative;
    display:flex;
    justify-content:center;
    align-items:center;
    padding-right: 22%;
    color: white;
    font-size: 1.25rem;
    font-weight: bold;

}

.arrow-block {
    display: none;
    width: 22vw;
    height:100%;
    position:absolute;
    top: 0;
    right:0;
    background-color: var(--green);
    z-index: 1;
}

.nav-block:hover .arrow-block {
    display:block;
}

.arrow-block:after {
    content: " ";
    display: block;
    position: absolute;
    top:50%;
    left:50%;
    border: solid white;
    border-width: 0 2px 2px 0;
    padding: 1vw;
    transform: rotate(-45deg) translate(-50%, -70%);
}

.Pizza-Delivery-block{
    background: url(../img/Pizza_delivery-bg-L.jpg) no-repeat;
    background-size:cover;
}


.UA-UX-Salads-block {
    background: url(../img/UA_UX-Salads-bg-L.jpg) no-repeat center;
    background-size:cover;
}

.Desserts-block {
    background: url(../img/Desserts-bg-L.jpg) no-repeat center;
    background-size:cover;
}

.menu {
    padding-top: 2vh;
}

.menu-header-bar {
    width: 100%;
    position:relative;
    padding-left: 3%;
}
.menu-header-text{
    color: var(--dark-grey);
    margin: 1vh 0;
}

.menu-header-description{
    margin-bottom: 2vh;
    font-size: 0.71rem;
    color: #cbccce;
}

.menu-logo {
    display:none;
    height: 100%;
    position: absolute;
    top: 0;
    right: 3vh;
}

.menu-column {
    width: 100%;
}

.menu-column-header-dark {
    min-height: 10vh;
    background-color: var(--dark-grey);
    padding-left: 7%;
    line-height: 10vh;
    color: var(--green);
}

.menu-group {
    padding: 0 5%;
}
.menu-group-header{
    padding-right: 1.8rem;
    margin: 8vh 0;
    position:relative;
}

.menu-group-header-icon {
    min-height: 1.3rem;
    min-width: 1.6rem;
    position: absolute;
    right:0;
    top:50%;
    transform: translate(0,-50%);
}

.menu-group-header-icon>img {
    position:absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

.menu-item {
    position:relative;
}

.item-name {
    padding-right: 20vw;
}

.menu-item-price {
    width: 20vw;
    position: absolute;
    right:0;
    top:0;
    text-align: right;
    font-weight: bold;
}

.menu-item-description {
    margin: 2vh 0 2vh 3%;
    font-size: 0.55rem;
    text-align: justify;
}

.menu-column-header-light {
    min-height: 10vh;
    background-color: var(--green);
    padding-left: 7%;
    line-height: 10vh;
    color: white;
}

.page-footer {
    min-height: 16vh;
    width: 100%;
    margin-top: 10vh;
    padding-top: 7vh;
    font-size: 0.76rem;
    font-family: 'Montserrat', sans-serif;
    background-color: var(--green);
    color:white;
    text-align: center;
}